

body {
	background-color: pink;
	border: 10px dotted #7FFFD4;
}

h1   {
	color: blue;
	font-family:fantasy;
}

h1:hover   {
	color: red;
}


img:hover {
	background-size: 300%
}

p    {
	color: red;
}

a:link {
    color: black;
    font-size: 30px;
}


a:hover {
    font-size: 300%
}

/*
img {
	padding-bottom: 10%
}
*/




/*
img.resize {
   width:200px;
   height:40px;
}
*/

doge {

}
